body{
  font-family: 'Pacifico', cursive;
}
nav{
  font-size: 40px;
}
#top{
  padding: 5%;
  text-align: center;
  color:whitesmoke;
  font-family: 'Alfa Slab One', cursive;  
  background-color: teal;
}
#top1{
  background-color: darkslategrey;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body{
  background-color: teal;
}
#order{
  text-align: center;  
}
.order {
  height: 140px;
  width: 300px;
  background-color: cadetblue;
  font-size: 40px;
}
#top img {
  border-radius: 50%;
}
body {
  background-image: url("../img/bg.png");
}

.jumbotron {
  font-family: 'Alfa Slab One', cursive;
  background-image: url("../img/teak.jpg");
  background-size: contain;
  text-shadow: 1px 1px 10px #fff;
}

.well, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

.well {
  margin-left: 20%;
  margin-right: 20%;
}

.qHeader {
  text-decoration: underline;
}

.cartItem {
  cursor: pointer;
  color: #0088cc;
}

.cartItem:hover {
  text-decoration: underline;
}

.cartWell, .choiceWell, .deliveryWell, .pickupWell, #show-pizza, #pickupEnd, #deliveryEnd {
  display: none;
}

button#pickup, button#delivery {
  margin-left: 33%;
  margin-right: 33%;
}

#deliveryCost {
  margin-top: 10px;
  margin-bottom: 10px;
}
